<html>

<head>
    <title>Huớng Dẫn Chơi</title>
    <style>
        body {
            font-size: 20px;
        }
        
        img {
            width: 100%;
            max-width: 100%;
        }
    </style>
</head>

<body>
    <div class="main-body bg-white">
        <div style="padding: 8px;margin-top: 45px;">
            <div style="font-weight: bold; text-align: center;font-size: 30px;">Hướng dẫn cách chơi xổ số điện toán 2,3,4 cặp số</div>
            <div style="font-weight: bold;">I. Giới thiệu</div>
            <div><span style="font-size: 2.3rem;"></span>- Xổ số điện toán 2,3,4 cặp số là sản phẩm xổ số tự chọn do công ty xổ số điện toán thủ đô phát hành. Người chơi được tự lựa chọn con số tham gia dự thưởng hoặc nhờ hệ thống lựa chọn ngẫu nhiên. Kết
                quả trúng thưởng được xác định sau khi quay số mở thưởng.</div>
            <div><span style="font-size: 2.3rem;"></span>- Giờ đặt vé trên ứng dụng: 0h00 – 17h30 và 19h00 – 24h00 (Đóng hệ thống từ 17h30 – 19h00)</div>
            <div style="font-weight: bold;">II. Lịch mở thưởng </div>
            <div><span style="font-size: 2.3rem;"></span> • Theo kết quả của xổ số kiến thiết Miền Bắc, mở thưởng vào (18h15 – 18h30) hàng ngày</div>
            <div style="font-weight: bold;">III. Hướng dẫn cách chơi </div>
            <div style="font-weight: bold;">1. Cách chơi</div>
            <div><span style="font-size: 2.3rem;"></span> - Có 3 loại hình khách hàng có thể lựa chọn như sau:</div>
            <div style="margin-left: 1rem;">➤ <span style="font-weight: bold;">2 cặp số: </span> khách hàng chọn 2 cặp số có 2 chữ số từ 00 đến 99.</div>
            <div style="margin-left: 1rem;">➤ <span style="font-weight: bold;">3 cặp số: </span> khách hàng chọn 3 cặp số có 2 chữ số từ 00 đến 99. </div>
            <div style="margin-left: 1rem;">➤ <span style="font-weight: bold;">4 cặp số: </span> khách hàng chọn 4 cặp số có 2 chữ số từ 00 đến 99. </div>
            <div><span style="font-size: 2.3rem;"></span>- Giá trị cho một (01) lần tham gia dự thưởng của người tham gia dự thưởng tối thiểu là 20.000 đồng (hai mươi nghìn đồng). </div>
            <div><span style="font-size: 2.3rem;"></span>- Trường hợp người tham gia dự thưởng chọn một bộ số để tham gia dự thưởng nhiều lần trong cùng một (01) kỳ quay số mở thưởng và/hoặc tham gia dự thưởng nhiều lần trong nhiều kỳ quay số mở thưởng và/hoặc
                chọn nhiều bộ số để tham gia dự thưởng thì tổng giá trị tham gia dự thưởng là bội số của 20.000 đồng. Khách hàng có thể lựa chọn số kỳ là: 1,2,5 hoặc 10 kỳ.</div>
            <div style="font-weight: bold;">2. Cách thức tham gia dự thưởng</div>
            <div><span style="font-size: 2.3rem;"></span> - Người tham gia dự thưởng lựa chọn bộ số tham gia dự thưởng, số kỳ, giá trị tham gia dự thưởng thông qua việc thao tác trong hệ thống.Việc lựa chọn bộ số tham gia dự thưởng được thực hiện theo các
                hình thức sau: </div>
            <div style="margin-left: 1rem;">· Người tham gia dự thưởng trực tiếp lựa chọn toàn bộ các số tham gia dự thưởng để tạo thành bộ số tham gia dự thưởng. </div>
            <div><span style="font-size: 2.3rem;"></span> Hoặc</div>
            <div style="margin-left: 1rem;">· Người tham gia dự thưởng để hệ thống máy tính lựa chọn tự động toàn bộ các số tham gia dự thưởng một cách ngẫu nhiên để tạo thành bộ số tham gia dự thưởng. </div>
            <div><span style="font-size: 2.3rem;"></span> Hoặc</div>
            <div><span style="font-size: 2.3rem;"></span>· Người tham gia dự thưởng trực tiếp lựa chọn một số các số tham gia dự thưởng và để hệ thống máy tính lựa chọn tự động các số tham gia dự thưởng còn thiếu của bộ số tham gia dự thưởng một cách ngẫu
                nhiên để tạo thành một bộ số tham gia dự thưởng hoàn chỉnh.</div>
            <div><span style="font-size: 2.3rem;"></span>- Người tham gia dự thưởng chọn kỳ quay số mở thưởng và được quyền tham gia dự thưởng tối đa 10 kỳ quay số mở thưởng liên tiếp.</div>
            <div><span style="font-size: 2.3rem;"></span>- Người tham gia dự thưởng thanh toán tiền mua vé. </div>
            <div><span style="font-size: 2.3rem;"></span>- Người tham gia dự thưởng nhận vé dự thưởng dưới dạng chứng chỉ. Vé dự thưởng bao gồm những thông tin sau:</div>
            <div style="margin-left: 1rem;">➤ Tên sản phẩm </div>
            <div style="margin-left: 1rem;">➤ Bộ số dự thưởng </div>
            <div style="margin-left: 1rem;">➤ Ngày, giờ phát hành vé </div>
            <div style="margin-left: 1rem;">➤ Giá trị tham gia dự thưởng</div>
            <div style="margin-left: 1rem;">➤ Ngày, kỳ quay số mở thưởng </div>
            <div style="margin-left: 1rem;">➤ Số ký hiệu, bảng mã nhận dạng và các tính năng bảo mật khác để chống làm giả vé dự thưởng </div>
            <div style="margin-left: 1rem;">➤ Người tham gia dự thưởng có trách nhiệm kiểm tra các thông tin trên vé tham gia dự thưởng. </div>
            <div style="margin-left: 1rem;">➤ Người tham gia dự thưởng không có quyền hủy vé tham gia dự thưởng đã mua.
            </div>
            <div style="font-weight: bold;">IV. Cơ cấu giải thưởng </div>
            <div style="padding-bottom: 0.5rem;">- Cơ cấu giải thưởng tương ứng với giá trị một (01) lần tham gia dự thưởng cụ thể như sau: </div>
            <div><img src="https://i.imgur.com/VTlPCci.png" alt="ocaugiaithuongxsdt" class="w-100 img-fluid"></div>
        </div>
    </div>
</body>

</html>