<div class="content___2hKLS" style="background: rgb(255, 255, 255); padding: 12px;font-size: 20px;">
    <div style="padding:8px">
        <div style="font-weight:bold; text-align: center">Hướng dẫn cách chơi Mega 6/45</div>
        <div style="font-weight:bold">I. Giới thiệu Mega 6/45 </div>
        <div><span style="font-size: 2.3rem;"></span>- Mega 6/45 là sản phẩm xổ số tự chọn số điện toán theo ma trận do Vietlott phát hành. Người chơi được tự lựa chọn bộ số tham gia dự thưởng hoặc nhờ hệ thống lựa chọn ngẫu nhiên. Kết quả trúng thưởng được
            xác định sau khi quay số mở thưởng</div>
        <div><span style="font-size: 2.3rem;"></span>- Giờ đặt vé trên ứng dụng: 0h00 – 17h30 và 19h00 – 24h00 (Đóng hệ thống từ 17h30 – 19h00).</div>
        <div style="font-weight:bold">II. Lịch mở thưởng </div>
        <div><span style="font-size: 2.3rem;"></span>• Các ngày Thứ 4, Thứ 6, Chủ Nhật hàng tuần</div>
        <div><span style="font-size: 2.3rem;"></span>• Thời gian quay số: (18h00 – 18h30) các ngày Thứ 4, Thứ 6, Chủ Nhật hàng tuần</div>
        <div style="font-weight:bold">III. Hướng dẫn cách chơi </div>

        <div style="font-weight:bold">1. Cách chơi cơ bản</div>
        <div><span style="font-size: 2.3rem;"></span>- Người chơi lựa chọn bộ gồm 6 số bất kỳ nằm trong khoảng từ 01 đến 45 để tham gia dự thưởng</div>
        <div><span style="font-size: 2.3rem;"></span>- Giá trị cho một (01) lần tham gia dự thưởng của người tham gia dự thưởng tối thiểu là 10.000 đồng (mười nghìn đồng). </div>
        <div><span style="font-size: 2.3rem;"></span>- Trường hợp người tham gia dự thưởng chọn một bộ số để tham gia dự thưởng nhiều lần trong cùng một (01) kỳ quay số mở thưởng và/hoặc tham gia dự thưởng nhiều lần trong nhiều kỳ quay số mở thưởng và/hoặc
            chọn nhiều bộ số để tham gia dự thưởng thì tổng giá trị tham gia dự thưởng là bội số của 10.000 đồng.</div>
        <div style="font-weight:bold">2. Cách chơi bao:</div>

        <div><span style="font-size: 2.3rem;"></span>Các loại Bao: bao 5, bao 7, bao 8, bao 9, bao 10,… đến bao 15 và bao 18. Tương đương với việc bạn chọn 5 cặp số, 7 cặp số, 8 cặp số, 9 cặp số, 10 cặp số,… đến 15 cặp số và 18 cặp số.</div>

        <div style="padding-left: 10px;padding-top: 10px"><i>2.1: Cách chơi Bao 5</i></div>
        <div style="padding-left: 10px;padding-top: 10px">- Người tham gia dự thưởng lựa chọn 5 số (bao 5) trong tập hợp các số từ 01 đến 45. Số thứ 6 sẽ do hệ thống phần mềm chọn trong tập hợp 40 số còn lại tạo thành 40 bộ số tham gia dự thưởng. So sánh bộ số tham gia dự thưởng với kết quả quay số mở
            thưởng để xác định giải thưởng. Tổng cộng cho 1 lần tham gia dự thưởng Bao 5 là 40 nhóm con số, tương đương 400,000 VNĐ cho 1 vé mua.</div>

        <div style="padding-left: 10px;padding-top: 10px"><i>2.2 Cách chơi Bao 7- Bao 15 và Bao 18</i></div>
        <div style="padding-left: 10px;padding-top: 10px">- Người chơi chọn bao 7 cặp số, 8 cặp số, 9 cặp số,... hoặc 18 cặp số trong bộ 45 cặp số (từ 01 đến 45), hệ thống phần mềm sẽ giúp người chơi đảo các con số đã chọn để tạo ra nhiều bộ số gồm 6 cặp số khác nhau để tham gia dự thưởng. Số lượng bộ
            số tuỳ loại vé bao mà bạn chọn, xem bảng liệt kê bên dưới:</div>
        <table class="table table-bordered" style="text-align: left">
            <tbody>
                <tr>
                    <td>
                        <p><strong>Số cặp số<br>(loại Bao)</strong></p>
                    </td>
                    <td>
                        <p><strong>Số bộ số dự thưởng tạo thành</strong></p>
                    </td>
                    <td>
                        <p><strong>Giá trị tham gia dự thưởng<br>(giá vé)</strong></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>7</p>
                    </td>
                    <td>
                        <p>7</p>
                    </td>
                    <td>
                        <p>70,000 VNĐ</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>8</p>
                    </td>
                    <td>
                        <p>28</p>
                    </td>
                    <td>
                        <p>280,000 VNĐ</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>9</p>
                    </td>
                    <td>
                        <p>84</p>
                    </td>
                    <td>
                        <p>840,000 VNĐ</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>10</p>
                    </td>
                    <td>
                        <p>210</p>
                    </td>
                    <td>
                        <p>2,100,000 VNĐ</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>11</p>
                    </td>
                    <td>
                        <p>462</p>
                    </td>
                    <td>
                        <p>4,620,000 VNĐ</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>12</p>
                    </td>
                    <td>
                        <p>924</p>
                    </td>
                    <td>
                        <p>9,240,000 VNĐ</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>13</p>
                    </td>
                    <td>
                        <p>1716</p>
                    </td>
                    <td>
                        <p>17,160,000 VNĐ</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>14</p>
                    </td>
                    <td>
                        <p>3003</p>
                    </td>
                    <td>
                        <p>30,030,000 VNĐ</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>15</p>
                    </td>
                    <td>
                        <p>5005</p>
                    </td>
                    <td>
                        <p>50,050,000 VNĐ</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>18</p>
                    </td>
                    <td>
                        <p>18564</p>
                    </td>
                    <td>
                        <p>185,640,000 VNĐ</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <div><img src="https://coreapi.mobilott.vn/Assets/Images/BẢNG THƯỞNG Max 3d.jpg" style="width:387px">
            </div> -->
        <div style="font-weight:bold">3. Cách thức tham gia dự thưởng</div>
        <div><span style="font-size: 2.3rem;"></span>- Người tham gia dự thưởng lựa chọn bộ số tham gia dự thưởng, số kỳ, giá trị tham gia dự thưởng thông qua việc thao tác trong hệ thống. Việc lựa chọn bộ số tham gia dự thưởng được thực hiện theo các hình
            thức sau: </div>
        <div style="margin-left: 1rem;">➤ Người tham gia dự thưởng trực tiếp lựa chọn toàn bộ các số tham gia dự thưởng để tạo thành bộ số tham gia dự thưởng. </div>
        <div><span style="font-size: 2.3rem;"></span>Hoặc</div>
        <div style="margin-left: 1rem;">➤ Người tham gia dự thưởng để hệ thống máy tính lựa chọn tự động toàn bộ các số tham gia dự thưởng một cách ngẫu nhiên để tạo thành bộ số tham gia dự thưởng. </div>
        <div><span style="font-size: 2.3rem;"></span>Hoặc</div>
        <div style="margin-left: 1rem;">➤ Người tham gia dự thưởng trực tiếp lựa chọn một số các số tham gia dự thưởng và để hệ thống máy tính lựa chọn tự động các số tham gia dự thưởng còn thiếu của bộ số tham gia dự thưởng một cách ngẫu nhiên để tạo thành một bộ số tham gia dự thưởng
            hoàn chỉnh.</div>
        <div><span style="font-size: 2.3rem;"></span>- Người tham gia dự thưởng chọn kỳ quay số mở thưởng và được quyền tham gia dự thưởng tối đa 06 kỳ quay số mở thưởng liên tiếp.</div>

        <div><span style="font-size: 2.3rem;"></span>- Người tham gia dự thưởng thanh toán tiền mua vé. </div>
        <div><span style="font-size: 2.3rem;"></span>- Người tham gia dự thưởng nhận vé dự thưởng dưới dạng chứng chỉ. Vé dự thưởng bao gồm những thông tin sau: </div>
        <div style="margin-left: 1rem;">➤ Tên sản phẩm.</div>
        <div style="margin-left: 1rem;">➤ Bộ số dự thưởng.</div>
        <div style="margin-left: 1rem;">➤ Ngày, giờ phát hành vé.</div>
        <div style="margin-left: 1rem;">➤ Giá trị tham gia dự thưởng</div>
        <div style="margin-left: 1rem">➤ Ngày, kỳ quay số mở thưởng. </div>
        <div style="margin-left: 1rem">➤ Số ký hiệu, bảng mã nhận dạng và các tính năng bảo mật khác để chống làm giả vé dự thưởng. </div>
        <div style="margin-left: 1rem">➤ Người tham gia dự thưởng có trách nhiệm kiểm tra các thông tin trên vé tham gia dự thưởng. </div>
        <div style="margin-left: 1rem">➤ Người tham gia dự thưởng không có quyền hủy vé tham gia dự thưởng đã mua. </div>

        <div style="font-weight:bold">IV. Cơ cấu giải thưởng </div>

        <div style="font-weight:bold">1. Cách chơi cơ bản</div>
        <div>Gồm 4 hạng giải thưởng và quay số mở thưởng 01 lần trong mỗi kỳ quay số mở thưởng để lựa chọn ra bộ số trúng thưởng gồm 6 số trong các số từ 01 đến 45. Cụ thể: </div>
        <div><img src="https://webapi.mobilott.vn/Assets/Images/cocaugiaithuongmega.jpg" style="width:100%">
        </div>
        <div style="font-weight:bold">2. Cách chơi bao:</div>
        <div><img src="https://webapi.mobilott.vn/Assets/Images/cocaugiaithuongmegabao.jpg" style="width:100%">
        </div>

        <div style="font-weight:bold">3. Lưu ý</div>
        <div><span style="font-size: 2.3rem;"></span>- Trong trường hợp có nhiều người cùng trúng giải Jackpot (đặc biệt) xổ số điện toán Mega 6/45 thì giải thưởng được chia theo tỉ lệ giá trị tham gia dự thưởng của người chơi. </div>
        <div><span style="font-size: 2.3rem;"></span>- Giá trị lĩnh thưởng của các giải thưởng từ Giải Nhất đến Giải Ba được tính theo số lần tham gia dự thưởng của số trúng thưởng (01 lần tham gia dự thưởng mệnh giá 10.000 đồng) nhân với giá trị giải thưởng
            tương ứng với 01 lần tham gia dự thưởng.</div>
        <div><span style="font-size: 2.3rem;"></span>- Khi vé của người trúng thưởng trúng nhiều hạng giải thưởng thì người trúng thưởng chỉ được lĩnh một hạng giải thưởng cao nhất. Ví dụ: Khi bạn trúng giải nhất xổ số Mega 6/45 thì bạn chỉ được nhận giải
            nhất và không được nhận giải nhì và giải ba</div>
    </div>
</div>